*{
    font-size:30px;
    font-family:monospace;
    margin:10px;
    /*background-color: rgba(57, 214, 65, 0.705);*/
}
body{background-color: rgb(107, 97, 97)}
.nav{
    margin-top:2%;
    background-color: black;
    width:58%;
    height:12%;
    position:fixed;
}
#l1{position:fixed;
border: 2px solid crimson;}

#l2{
    display:inline-blocks;  
    position:relative;
}

a{
    padding-left: 40px;
    padding-right:40px;
    text-decoration: none;
    color:whitesmoke;
}
a:hover{color:black;}
li >ol{
        display:none;
        position: relative;
}

li{
    background-color: rgb(0, 0, 0);
    margin-bottom: -11px;
    font-size:25px;
    color:whitesmoke;

}

li>ol>li{
    background-color: crimson;
}

li>ol>li>ol>li{background-color:rgb(243, 168, 168);}


li:hover{
    background-color: gold;
    display:block;
    box-shadow: 2px 2px 10px black;
    color:crimson;
    transition :color 1s,display 2s, background-color 0.5s;
}

li:hover> ol{
    width:202px;
    display: block;
    position: absolute;
    margin-top:-10px;
    margin-left:-50px;
    list-style-type:none;
    
}

ol> li:hover> ol>li:hover>ol{
    display: block;
    position: absolute;
    margin-top:-10px;
    margin-left:132px;
    list-style-type:none;

    
}




